
body {
    background-image: linear-gradient(to bottom right, #EB6122, #431C52);
    background-size: auto;
    background-repeat: no-repeat;
    height:100vh;
}

h1 {
    font-family: 'shlop';
}
@font-face {
    font-family: shlop;
    src: url(/assets/shlop\ rg.otf);
}

.scaryFont {
    font-family: 'shlop';
}